body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.traffic-light {
    background-color: black;
    width: 120px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
